mule-demo-soap/src/main/app/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:vm="http://www.mulesoft.org/schema/mule/vm"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.1/mule-http.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd"
	version="CE-3.4.0">

	<flow name="mule-configFlow1" doc:name="mule-configFlow1">
		<http:inbound-endpoint exchange-pattern="request-response"
			host="localhost" port="8081" path="getWeather" doc:name="HTTP" />
		<set-payload value="#['94304']" doc:name="Set Payload" />
		<flow-ref name="mule-configFlow3" doc:name="Flow Reference" />
	</flow>

	<flow name="mule-configFlow2" doc:name="mule-configFlow2">
		<http:inbound-endpoint exchange-pattern="request-response"
			host="localhost" port="8081" path="getWeatherByZipCode" doc:name="HTTP" />
		<set-payload value="#[header:INBOUND:zipcode]" doc:name="Set Payload" />
		<flow-ref name="mule-configFlow3" doc:name="Flow Reference" />
	</flow>

	<sub-flow name="mule-configFlow3" doc:name="mule-configFlow3">
		<http:outbound-endpoint address="http://wsf.cdyne.com/WeatherWS/Weather.asmx"
			exchange-pattern="request-response" method="POST" doc:name="HTTP">
			<cxf:jaxws-client doc:name="SOAP" port="WeatherSoap"
				clientClass="com.cdyne.ws.weatherws.Weather" operation="GetCityForecastByZIP"
				wsdlLocation="classpath:/wsdl/weather.wsdl">
				<cxf:inInterceptors>
					<spring:bean class="org.apache.cxf.interceptor.LoggingInInterceptor" />
				</cxf:inInterceptors>
				<cxf:outInterceptors>
					<spring:bean class="org.apache.cxf.interceptor.LoggingOutInterceptor" />
				</cxf:outInterceptors>
			</cxf:jaxws-client>
		</http:outbound-endpoint>
		<mulexml:object-to-xml-transformer
			doc:name="Object to XML" />
	</sub-flow>

</mule>
